/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 25px;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

img {
  max-width: 100%;
  width: 100%;
}

p {
  margin-bottom: 0;
}

.container {
  max-width: 1400px;
  padding-left: 13px;
  padding-right: 13px;
}
.common-btn {
  color: #62B54E;
  border: 2px solid #62B54E;
  padding: 9px 22px;
  font-weight: 900;
  font-size: 14px;
  word-spacing: 3px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.common-btn:hover {
  color: #fff;
  background-color: #62B54E;
}

@media (max-width: 991px) {
  .common-btn {
    font-size: 13px;
    font-size: 13px;
    border-width: 1px;
  }
}

@media (max-width: 767px) {
  .common-btn {
    font-size: 11px;
  }
}

header {
  background-color: #666;
}

@media (min-width: 992px) {
  header .container .navbar {
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  header .container .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

header a.navbar-brand img {
  max-width: 280px;
}

@media (max-width: 1199px) {
  header a.navbar-brand img {
    max-width: 220px;
  }
}

@media (max-width: 767px) {
  header a.navbar-brand img {
    max-width: 180px;
  }
}

@media (max-width: 575px) {
  header a.navbar-brand img {
    max-width: 140px;
  }
}

@media (max-width: 479px) {
  header a.navbar-brand img {
    max-width: 120px;
  }
}

header .navbar-toggler {
  border: none;
}

header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 992px) {
  header ul.navbar-nav li.nav-item {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  header ul.navbar-nav li.nav-item {
    margin-left: 5px;
  }
}

header ul.navbar-nav li.nav-item a.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff;
}

header ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #DDD;
  -webkit-transition: none;
  transition: none;
}

header ul.navbar-nav li.nav-item a.nav-link.active {
  color: #DDD;
}

.example-1 img {
  margin: 15px 0;
}

.example-1 .gray img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.example-2 .col-lg-12 {
  margin-top: 20px;
}

#sortBTN {
  margin-top: 20px;
}